/* Write your CSS here */
.tab-btn {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: #7b8794;
  border-bottom-style: solid;
  padding-right: 30px;
  font-size: 13px;
}
.tab-item {
  color: #7b8794;
}
.active-tab-btn {
  color: #2563eb;
  font-size: 15px;
  border-bottom-color: #2563eb;
}
